<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nd.sdp.adhoc.push">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application>
        <service
            android:name="com.nd.adhoc.push.service.PushService"
            android:process=":remotePushService">
            <intent-filter>
                <action android:name="com.nd.adhoc.push.service.PushService" />
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </service>
        <service
            android:name="com.nd.adhoc.push.service.DaemonService"
            android:process=":remoteDaemonService" >
            <intent-filter>
                <action android:name="com.nd.adhoc.push.service.DaemonService" />
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </service>
        <service
            android:name="com.nd.adhoc.push.service.JobHandlerService"
            android:process=":remoteJobHandlerService"
            android:permission="android.permission.BIND_JOB_SERVICE">
            <intent-filter>
                <action android:name="com.nd.adhoc.push.service.JobHandlerService" />
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </service>
    </application>

</manifest>
